<% include header %>

<div class="container">
  <fieldset>
    <form action="/" method="post">
      <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
      <input type="submit" class="ghost-button" value="Get Weather">
    </form>
    <form action="/forecast" method="post">
      <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
      <input type="submit" class="ghost-button" value="Get Weather">
    </form>
  </fieldset>
    <% if (weather) { %>
      <h2><%- weather %></h2>
   <% } %>
   <%- error %>
</div>
<script type='text/javascript'>
    var rows = <%- JSON.stringify(data) %>;

    function forecasts(forecast) {
        let descriptions = [];
        for (let i = 0; i < forecast.list.length; i++) {
            descriptions.push(forecast.list[i].weather[0].main)
        }
        return descriptions;
    }

    var descriptions = forecasts(rows);
  </script>
<% include footer %>